<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
       <handlers>
        <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\Program Files\Python310\python.exe|&quot;C:\inetpub\wwwroot\FlaskApp\wfastcgi.py&quot;"
           resourceType="Unspecified"
           requireAccess="Script" />
       </handlers>
        <security>
         <authorization>
            <remove users="*" roles="" verbs="" />
            <add accessType="Allow" users="" roles="contoso\ExampleADGroup" />
         </authorization>
      </security>
     </system.webServer>
</configuration>